{% extends "GalaCoreBundle:Layout:parallax.html.twig" %}

{% block title %}
{{ 'menu.access&accomodation'|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
  <div class="slide img cover" style="background-image: url({{ asset('img/access_accomodation/background.jpg') }})">
    <div class="content">
      <h2>Accès</h2>
      <div class="caption">
        <h3>Tout pour le grand jour</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h5>Présentation</h5>
      <hr class="sm">
      <h3>Les Halls de la Filature</h3>
      <h3>70 Rue Félix Faure, 59350 Saint-André-lez-Lille</h3>
      <div class="flex image-presentation" style="align-items:center;">
        <div>
          <p>Retrouvez nous aux Halls de la Filature !</p>
          <p>
            La salle se situe à 10 min en voiture du centre ville lillois.<br />
            Un parking gratuit de 1 000 places est à disposition du public.
          </p>
          <p>
            Accessible également par transports en commun:
            <ul>
              <li>Arrêt “Molière” (lignes 1 et 90)</li>
              <li>Arrêt “Pont de l’abbaye” (lignes 14 et 56)</li>
            </ul>
          </p>
        </div>
        <div>
          <img style="width: 100%;" src='{{ asset('img/access_accomodation/map.png') }}' />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="video-container" style="max-width: 1200px;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4252.909352695064!2d3.0538202714527274!3d50.668069964090094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c32a5ee54a1ad5%3A0x97d709837f429c38!2sLes+halls+de+la+filature!5e0!3m2!1sfr!2sfr!4v1509457045778" frameborder="0" style="border:0;height:97%" allowfullscreen></iframe>
      </div>
    </div>
  </div>
{% endblock %}
