{% extends "::base.html.twig" %}

{% block body %}
{{ include('GalaCoreBundle::menu.html.twig') }}
<div style="margin-top:65px">
{% block content %}{% endblock %}
</div>
{{ include("GalaCoreBundle::footer.html.twig") }}
<a href="#" id="toTop">⇧</a>
{% endblock %}

{% block javascripts %}{% endblock %}
