<footer class="main">
  <div class="general">
    <div class="logo"><img src="{{ asset('img/logo.png') }}" /></div>
    <p class="link"><a href="{{ path('gala_homepage') }}">Le Gala</a> | <a href="{{ path('gala_ticketing') }}">Billetterie</a></p>
  </div>
  <div class="privacy">
    <p>L’équipe Gala est heureuse de vous inviter pour un voyage dans le temps - Réservez vite votre place pour le 13 janvier 2018</p>
    <p>© Copyright 2017 | Gala 2018 | <a href="{{ path('sitemap') }}">Sitemap</a></p>
  </div>
</footer>
