{% set url = app.request.attributes.get('_route') %}
<nav class='main-menu'>
  <a href='{{ path('gala_homepage') }}' class="img" style="background-image: url({{ asset('img/logo.png') }})"></a>
  <input type="checkbox" id="main-menu-checkbox" class="nav-checkbox">
  <ul class="flex">
    <li><a {{ (url == 'gala_homepage') ? 'class="active"' }} href='{{ path('gala_homepage') }}'>{{ 'menu.gala'|trans }}</a></li>
    <li><a {{ (url == 'gala_photos') ? 'class="active"' }} href='{{ path('gala_photos') }}'>{{ 'menu.photos'|trans }}</a></li>
    <li><a {{ (url == 'gala_ticketing') ? 'class="active"' }} href='{{ path('gala_ticketing') }}'>{{ 'menu.ticketing'|trans }}</a></li>
    <li><a {{ (url == 'gala_schools') ? 'class="active"' }} href='{{ path('gala_schools') }}'>{{ 'menu.schools'|trans }}</a></li>
    <li><a {{ (url == 'gala_partners') ? 'class="active"' }} href='{{ path('gala_partners') }}'>{{ 'menu.partners'|trans }}</a></li>
    <li><a {{ (url == 'gala_access_accomodation') ? 'class="active"' }} href='{{ path('gala_access_accomodation') }}'>{{ 'menu.access&accomodation'|trans }}</a></li>
    <li><a {{ (url == 'gala_contact') ? 'class="active"' }} href='{{ path('gala_contact') }}'>{{ 'menu.contact'|trans }}</a></li>
  </ul>
  <label for="main-menu-checkbox" class="nav-label">&equiv;</label>
</nav>
