{% extends "GalaCoreBundle:Layout:parallax.html.twig" %}

{% block title %}
  {{ 'menu.schools'|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
  <div class="slide img cover" style="background-image: url({{ asset('img/schools/background.jpg') }})">
    <div class="content">
      <h2>Nos écoles</h2>
      <div class="caption">
        <h3>Découvrez l’histoire de nos écoles</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h5>Nos écoles</h5>
      <hr class="sm">
      <h3>
        Le <strong>1<sup>er</sup> Janvier 2017</strong>, une nouvelle Grande École est née.
        En fusionnant les Mines de Douai et Télécom Lille,
        l’Institut Mines Télécom a voulu faire de <strong>l’IMT Lille Douai
        la plus grande école d’ingénieurs au Nord de Paris.</strong>
      </h3>
      <div>
        <div class="image-presentation flex">
          <div>
            <div class="img cover" style="background-image: url('{{ asset('img/schools/beffroi1.jpg') }}');"></div>
          </div>
          <div class="description">
            <h5>Mines de douai</h5>
            <hr class="sm">
            <p>
              Historiquement, l’<strong>école des Mines de Douai</strong>
              a été fondée en <strong>1878</strong> dans le but de former des Maîtres-mineurs.
              Elle offre à ses élèves une formation solide leur permettant
              d’exercer leurs savoirs-faire professionnels
            </p>
          </div>
        </div>
        <div class="image-presentation flex">
          <div>
            <div class="img cover" style="background-image: url('{{ asset('img/schools/beffroi2.jpg') }}');"></div>
          </div>
          <div class="description">
            <h5>Télécom Lille</h5>
            <hr class="sm">
            <p>
              <strong>Télécom Lille</strong> a été créée en <strong>1990</strong>
              pour répondre aux besoins des entreprises dans le secteur des télécoms.
              Ces entreprises ont pu ainsi développer des liens étroits avec l’école
              et par conséquent faciliter l’implantation des élèves dans le monde de
              l’entreprise.
            </p>
          </div>
        </div>
        <div class="image-presentation flex">
          <div>
            <div class="img cover" style="background-image: url('{{ asset('img/schools/beffroi3.jpg') }}');"></div>
          </div>
          <div class="description">
            <h5>Inghenia</h5>
            <hr class="sm">
            <p>
              <strong>Inghenia</strong> créée en <strong>1992</strong> forme des ingénieurs généralistes
              du génie industriel, orientés vers le management des systèmes.
              Depuis 25 ans, Inghenia et l’école des Mines de Douai sont en partenariat,
              ils proposent une formation en alternance qui permet aux étudiants
              d’acquérir des compétences solides et une expérience professionnelle.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
