{% extends "::base.html.twig" %}

{% block body %}
{{ include('GalaCoreBundle::menu.html.twig') }}
<div class="error" style="background-image: url('{{ asset('img/error/error.png') }}')">
  <h1>{{ status_code }}</h1>
  <p>{{ status_text }}</p>
</div>
{% endblock %}

