{% extends "GalaCoreBundle:Layout:parallax.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="slider-gallery">
    <div class="slider">
      <div class="slide img cover" style="background-image: url({{ asset('img/home/carousel/fireworks.jpg') }})">
        <div class="content">
            <h2>Gala IMT Lille Douai &amp;&nbsp;INGHENIA</h2>
            <div class="caption">
              <h3>Les Halls de la Filature</h3>
            </div>
            <div class="buttons">
              <a href='#main'><button class="btn-white">Découvrir</button></a>
            </div>
          </div>
      </div>
      <div class="slide img cover" style="background-image: url({{ asset('img/home/carousel/time.jpg') }});">
        <div class="content">
            <h2>GALA IMT LILLE DOUAI &amp;&nbsp;INGHENIA</h2>
            <div class="caption">
              <h3>Le 13 Janvier 2018</h3>
            </div>
            <div class="buttons">
              <a href='#main'><button class="btn-white">Démarrer la visite</button></a>
            </div>
        </div>
      </div>
      <div class="slide img cover" style="background-image: url({{ asset('img/home/carousel/fireworks.jpg') }})">
        <div class="content">
          <h2>Gala IMT Lille Douai &amp;&nbsp;INGHENIA</h2>
          <div class="caption">
            <h3>Les Halls de la Filature</h3>
          </div>
          <div class="buttons">
            <a href='#main'><button class="btn-white">Découvrir</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="visibility:hidden;" id="main"></div>
  <nav>
    <ul class="flex">
      <li><a href='#trailer'>Trailer</a></li>
      <li><a href='#presentation'>Présentation</a></li>
      <li><a href='#artists'>Artistes</a></li>
      <li><a href='#program'>Programme</a></li>
      <li><a href='#tombola'>Tombola</a></li>
      {#<li><a href='#photos'>Photos</a></li>#}
    </ul>
  </nav>
  <div class="container">
    <div class="row" id="trailer">
      <h5>Trailer</h5>
      <hr class="sm">
      <div class="video-container">
        <iframe src="https://www.youtube-nocookie.com/embed/Ca7ExiK0uTw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <hr class="lg">
    <div class="row" id="presentation">
      <h5>Bienvenue au Gala IMT Lille Douai</h5>
      <hr class="sm">
      <div class="presentation">
        <div class="tile">
          <img src="{{ asset('img/home/presentation/spectacle.jpg') }}" />
          <h3>Le Spectacle</h3>
          <p>Un magnifique spectacle dans le thème du “Voyage dans le temps” est présenté par les artistes amateurs de l’école.</p>
        </div>
        <div class="tile">
          <img src="{{ asset('img/home/presentation/repas.jpg') }}" />
          <h3>Le Repas</h3>
          <p>Profitez d’un repas luxueux avec les invités officiels, les diplômés ainsi que des étudiants de différentes écoles du Nord de Paris!</p>
        </div>
        <div class="tile">
          <img src="{{ asset('img/home/presentation/night.jpg') }}" />
          <h3>La Soirée</h3>
          <p>Une soirée inoubliable animée par des DJs connus. Des bars à thème seront spécialement conçus pour l’événement.</p>
        </div>
      </div>
    </div>
    <div class="row" id="artists">
      <h5>Les artistes</h5>
      <hr class="sm">
      <div>
        <div class="image-presentation flex">
          <a href="https://www.facebook.com/louisahhhofficial/">
            <div class="img cover" style="background-image: url('{{ asset('img/home/artists/louisahhh.jpg') }}')"></div>
          </a>
          <div class="description">
            <h3>LOUISAHHH</h3>
            <p>Louisahhh est une artiste multi-facette. Car oui, elle est pleine de contradictions Louisahhh, toujours habillée de noir mais ultra positive, Américaine mais vivant à Paris, dénichée chez Bromance mais volant aujourd’hui de ses propres ailes loin du hip-hop de Brodinski. Louisahhh reste en effet farouchement accrochée à sa techno parlée, noire, aux accents punk. Une personnalité qui n’a pas laissé indifférent Dave Clarke, véritable légende de la scène techno rave qui est devenu pour elle un ami proche, et que l’on retrouve ainsi sur le label RAAR – label qu’elle a co-créé avec Maelstrom.</p>
            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/432675&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
          </div>
        </div>
        <div class="image-presentation flex">
          <a href="https://www.facebook.com/se62kiev/">
            <div class="img cover" style="background-image: url('{{ asset('img/home/artists/se62.jpg') }}')"></div>
          </a>
          <div class="description">
            <h3>SE62</h3>
            <p>Yura Khlop aka SE62 est né et a grandi à Kiev, en Ukraine, où sa passion pour la musique house, disco, soul et hip-hop s'est développée. Producteur de deep house, il a lancé de véritable danse hit. Ces dernières années, SE62 passe beaucoup de temps à voyager autour du monde et joue dans les clubs les plus célèbres tels que Rex Club (Paris), Concrete (Paris), La Machine du Moulin Rouge (Paris), Corsica Studios (UK), Village Underground (UK), Fuse (Brussel) et beaucoup d'autres.</p>
            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/359057&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="program">
        <h5>Programme</h5>
        <hr class="sm">
        <div class="columns">
          <div class="is-4 text-center">
            <h3>Dîner-Spectacle</h3>
            <p>20.00 - 23.30</p>
          </div>
          <div class="is-4 text-center">
            <h3>Show Pom-Pom</h3>
            <p>00.00 - 00.30</p>
          </div>
          <div class="is-4 text-center">
            <h3>Soirée</h3>
            <p>00.30 - 05.30</p>
          </div>
        </div>
    </div>
    <div class="row" id="tombola">
      <h5>Tombola</h5>
      <hr class="sm">
      {% if winners is not defined or winners is empty %}
        <div class="flex image-presentation" style="align-items: center;">
          <div><p class="text-center"><img src="{{ asset('img/home/architecture.jpg') }}" style="width:80%"></p></div>
          <div style="display: block">
            <p>Le tirage de la tombola aura lieu le 31 janvier 2018.</p>
            <p>Voici nos plus gros lots parmi tant d’autres:</p>
            <ol>
              <li>Un voyage dans un pays européen</li>
              <li>Une tablette numérique</li>
              <li>Une enceinte</li>
            </ol>
          </div>
        </div>
      {% else %}
        <table class="tombola">
          <thead>
            <th>Lot</th>
            <th>Gagnant</th>
          </thead>
          <tbody>
            {% for winner in winners %}
              <tr>
                <td>{{ winner.lot }}</td>
                <td>{{ winner.name|title }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
