footer {
  background-color: $g-blue;
  padding: 40px;
  div {
    padding: 10px;
  }
  div.general {
    @media (max-width: 650px) {
      flex-direction: column;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    * {
      flex: 1 1 0;
    }
    div.logo {
      text-align: center;
      img {
        max-height: 150px;
        max-width: 100%;
      }
    }
    p.link {
      text-align: right;
      text-transform: uppercase;
      color: $white;
      white-space: nowrap;
      a:hover {
        color: $primary;
      }
    }
  }
  div.privacy {
    background-color: $g-blue;
    color: $white;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
  }
}

.full-width {
  width: 100%;
}

.center {
  text-align: center;
}
