nav {
  background-color: $g-blue;
  height: $header-height;
  text-align: center;
  @media (max-width: 950px) {
    height: auto;
  }
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        color: $g-gray;
        height: $header-height;
        line-height: $header-height;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        &:hover, &.active {
          color: $primary;
        }
      }
    }
  }
}

nav.main-menu {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgba(19, 32, 48, 0.95);
  @media (max-width: 950px) {
    position: relative;
    top: auto;
  }
  @media (min-width: 951px) {
    &.on-top {
      height: 180px;
      background: linear-gradient(180deg, rgba(19,32,48,1), rgba(19,32,48,0));
    }
  }
  > a {
    height: auto;
    width: 15%;
    display: block;
    margin: 5px 10px;
    @media (max-width: 950px) {
      width: 100%;
      height: 55px;
    }
  }
  @media (max-width: 950px) {
    #main-menu-checkbox:checked + ul {
        display: initial;
    }
  }
  ul {
    width: 85%;
    float: right;
    @media (max-width: 950px) {
      flex-direction: column;
      width: 100%;
      display: none;
    }
    li {
      a {
        color: $white;
        &:hover, &.active {
          color: $primary;
        }
      }
    }
  }
}

.nav-checkbox {
  display: none;
}
.nav-label {
  color: $white;
  font-size: 70px;
  padding: 0px 10px;
  line-height: 65px;
  @media (min-width: 951px) {
    display: none;
  }
}
