@import 'variables';

@import 'vendor/normalize';
@import 'vendor/flexbin';

@import 'generic/button';
@import 'generic/flex';
@import 'generic/grid';
@import 'generic/image';
@import 'generic/list';
@import 'generic/table';
@import 'generic/text';

@import 'nav';
@import 'footer';

@import 'pages/contact';
@import 'pages/error';
@import 'pages/home';
@import 'pages/partners';

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-top: $header-height;
  letter-spacing: 1px;
  @media (max-width: 950px) {
    margin-top: 0;
  }
}

.row {
  width: 100%;
  padding: 20px 40px;
}

.container {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border-style: solid;
  &.sm {
    border-color: #999;
    max-width: 30px;
  }
  &.lg {
    margin: 40px;
    border-color: $g-gold;
  }
}

.parallax {
  position: absolute;
  width: 100%;
  height: 100%;
  top: $header-height;
  > *:first-child {
    margin-top: -$header-height;
    position: fixed;
    height: 100vh;
    @media screen and (min-height: 900px) {
      height: 900px;
    }
  }
  > *:nth-child(2) {
    margin-top: calc(100vh - (2*#{$header-height}));
    @media screen and (min-height: 900px) {
      margin-top: calc(900px - (2*#{$header-height}));
    }
  }
  > *:nth-child(n+2) {
    z-index: 3;
    position: relative;
  }
}


div {
  margin: 0;
}

#toTop {
  background-color: #333333;
  border-radius: 4px 4px 0 0;
  bottom: 0;
  color: #FFFFFF;
  height: 35px;
  position: fixed;
  right: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  width: 48px;
  opacity: 0.9;
  z-index: 10000;
  transition: all 0.2s ease-in-out 0s;
}

div.slide {
  display: inline-block;
  position: inherit;
  > .content {
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 3%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    > h2 {
      text-transform: uppercase;
      font-size: 7vw;
      margin: 0;
    }
    > .caption {
      > h3 {
        padding: 0 5%;
        display:flex;
        &:before,
        &:after {
          content:'';
          flex:1;
          border-bottom:solid 2px;
          margin:auto 1em;
          @media (max-width: 450px) {
            content: none;
          }
        }
      }
    }
  }
}
