@mixin button($background, $foreground) {
  color: $foreground;
  border-color: $foreground;
  background-color: $background;
}

button, .btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 2px;
  font-size: 18px;
  padding: 20px 40px;
  &.btn-white {
    @include button(transparent, white);
    &:hover {
      @include button(white, black)
    }
  }
  &.btn-gold {
    @include button($g-gold, $white);
    &:hover {
      @include button($white, $g-gold)
    }
  }

  &.btn-ticketing {
    width: 80%;
  }
}
