.flex {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  &.nowrap {
    flex-wrap: nowrap;
  }
  &.wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  justify-content: space-around;
  &.justify-center {
    justify-content: center;
  }
  &.justify-between {
    justify-content: space-between;
  }

  align-items: center;
  &.stretch {
    align-items: stretch;
  }
}
