.columns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  > .is-6 {
    width: 50%;
  }
  > .is-4 {
    width: 33.3333333%;
  }
  @media (max-width: 850px) {
    > .is-4 {
      width: 100%;
    }
  }
}