img {
  max-width: 100%;
  max-height: 100%;
}

.img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  &.cover {
    background-size: cover;
  }
}
