table{
  width:100%;
  table-layout: auto;
  border-radius: 10px;
}
th{
  padding: 20px 15px;
  font-weight: 700;
  text-transform: uppercase;
}
td{
  padding: 5px 20px;
  vertical-align:middle;
}

table.tombola {
  background: -webkit-linear-gradient(left, #132030, #2D3A4A);
  background: linear-gradient(to right, #132030, #2D3A4A);
  color: #fff;
  th {
    color: $g-gold;
  }
  td {
    border-bottom: solid 1px rgba(255,255,255,0.1); 
  }
}
