h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

h5 {
  color: #999;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $g-gold;
}

.underline {
  text-decoration: underline;
}

.black {
  color: black;
}

.white {
  color: white;
}
