.contact-link {
  line-height: 30px;
  a {
    padding: 5px 10px;
    display: block;
    width: 100%;
    text-align: center;
    color: #000;
    &:hover {
      color: $g-gold;
    }
    img {
      height: 100px;
    }
  }
}

.member {
  margin: 10px;
  color: $white;
  width: 400px;
  @media (max-width: 450px) {
    max-width: 400px;
    width: auto;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 450px) {
      flex-direction: column;
      justify-content: space-around;
    }
    div.img {
      div {
        height: 175px;
        width: 150px;
        background-position: center;
        background-size: auto 175px;
        background-repeat: no-repeat;
      }
    }
    div.infos {
      width: 100%;
      display: flex;
      flex-direction: column;
      >* {
        text-align: center;
        margin: 10px 0px;
        a {
          color: $g-gold;
        }
      }
    }
  }
}
