.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - #{$header-height});
  width: 100%;
  background-color: $g-blue;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 40% auto;
  color: white;
  padding: 5%;
  * {
    margin: 0;
  }
  h1 {
    text-align: right;
    font-size: 20vw;
  }
  p {
    text-align: right;
    font-size: 10vw;
  }
}
