div.slider-gallery {
  width: 100%;
  overflow: hidden;
}

div.slider {
  background: #000;
  position: relative;
  height: 100%;
  width: 300%;
  font-size: 0;
  animation: 15s slidy infinite;
  div.slide {
    width: 33.3%;
  }
}

.video-container {
  margin: auto;
  position: relative;
  padding-bottom: 58.33333%;
  padding-top: 25px;
  height: 0;
  iframe, video {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  .tile {
    padding: 40px;
    margin: auto;
    margin-top: 0px;
    max-width: 450px;
    justify-content: space-around;
    text-align: center;
    flex: 1 1 0;
    img {
      height: 200px;
      @media (max-width: 450px) {
        height: auto;
        max-height: 200px;
        width: 100%;
      }
    }
  }
}

@keyframes slidy {
  0%, 45% { left: 0%; }
  50%, 95% { left: -100%; }
  100% { left: -200%; }
}

.image-presentation {
  align-items: stretch;
  @media (max-width: 650px) {
    flex-direction: column;
  }
  .img {
    transition: all 1s;
    min-height: 250px;
    &:hover {
      transform: scale(1.1);
      opacity: 0.9;
    }
  }
  > * {
    overflow: hidden;
    min-height: 250px;
    display: block;
    width: 50%;
    @media (max-width: 650px) {
      width: 100%;
    }
  }
  .description {
    background-color: #F0F0F0;
    padding: 40px 10%;
    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      color: #747474;
      text-align: center;
    }
  }
  &:nth-child(2n) {
    flex-direction: row-reverse;
    @media (max-width: 650px) {
      flex-direction: column;
    }
  }
}
