.partner {
  width: 30.6666%;
  min-width: 400px;
  color: black;
  @media (max-width: 450px) {
    min-width: 100%;
  }
  &.lg {
    width: 80%;
  }
  div {
    min-height: 150px;
    margin: 40px 0px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 25px $g-gray;
    }
  }
}

.partners {
  > * {
    width: 40%;
    @media (max-width: 950px) {
      width: 100%;
    }
  }
  > *:nth-child(2) {
    @media (max-width: 950px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}