<!DOCTYPE html>
<html lang="fr" dir="auto">
    <head>
        {# Compatibility #}
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no" />
        <meta name="description" content="Le Gala IMT Lille Douai &amp; Inghenia aura lieu le 13 janvier 2018 aux Halls de la Filature. Un dîner-spectacle suivi d’une soirée inoubliable." />
        {# Sharing #}
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Le Gala" />
        <meta property="og:url" content="{{ url('gala_homepage') }}" />
        <meta property="og:image" content="{{ absolute_url(asset('img/logo.png')) }}" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:alt" content="Logo du Gala" />
        <meta property="og:description"
            content="Cette année, le Gala IMT Lille Douai &amp; Inghenia aura lieu le 13 janvier 2018 aux Halls de la Filature.
            Un diner-spectacle sera suivi d’une soirée inoubliable animée par des artistes connus avec un concours de bars à thèmes.
            Cet événement est organisé par les étudiants ingénieurs de l’IMT Lille Douai (anciennement Télécom Lille et Mines Douai) et Inghenia." />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:site_name" content="Gala IMT Lille Douai &amp; Inghenia" />
        <meta name="twitter:card" content="summary" />
        {# Appearance #}
        <title>{% block title %}{% endblock %}GALA IMT Lille Douai</title>
        <meta name="theme-color" content="#132030" />
        {% block stylesheets %}{% endblock %}
        {% stylesheets filter="scssphp" output="min/app.css"
            "scss/main.scss"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400italic" rel="stylesheet" />
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
