{% extends "GalaCoreBundle::base.html.twig" %}

{% block title %}
  Photos - {{ parent() }}
{% endblock %}

{% block content %}
  {% if photos %}
    <div class="text-center">
      <h5>Photos</h5>
      <hr class="sm">
      <h3>Les photos du Gala sont désormais disponibles !</h3>
      <p>Nous avons mis en place un service de tirage photo à votre disposition.</p>
      <p>Cliquez sur votre photo, repérez son numéro et accédez à la billeterie !</p>
      <p>La livraison est gratuite !</p>
      <a href="http://event.pumpkin-app.com/pay/photoimtlilledouai" target="_blank"><button class="btn-gold">Billeterie</button></a>
    </div>
    <div class="flexbin flexbin-margin">
      {% for photo in photos %}
        <a href="{{ path('gala_photo', {'id': photo.id}) }}">
          <img alt="Photo #{{ photo.id }}" data-src="{{ asset(photo.fileUri | imagine_filter('thumb_300') ) }}"/>
        </a>
      {% endfor %}
    </div>
  {% else %}
  <h3>
    Les photos ne sont pas encore disponibles,<br /> veuillez repasser ultérieurement :)
  </h3>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.6.0/lazyload.min.js"></script>
  <script>var myLazyLoad = new LazyLoad();</script>
{% endblock %}
