{% extends "GalaCoreBundle::base.html.twig" %}

{% block title %}
  Photo #{{ photo.id }} - {{ parent() }}
{% endblock %}

{% block content %}
<div class="text-center">
	<img alt="Photo #{{ photo.id }}" src="{{ asset(photo.fileUri) }}"/>
	<h3>Photo #{{ photo.id }}</h3>
	<a href="http://event.pumpkin-app.com/pay/photoimtlilledouai" target="_blank"><button class="btn-gold">Billeterie</button></a>
	{% if form is defined %}{{ form(form) }}{% endif %}
</div>
{% endblock %}
