{% extends "GalaCoreBundle:Layout:parallax.html.twig" %}

{% block title %}
  {{ 'menu.partners'|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
  <div class="slide img cover" style="background-image: url('{{ asset('img/partners/background.jpg') }}')">
    <div class="content">
      <h2>Partenaires</h2>
      <div class="caption">
        <h3>Devenez partenaire de cet événement exceptionnel</h3>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <h5>Nous Rejoindre</h5>
        <hr class="sm">
        <div class="flex partners">
          <div class="flex">
            <p>
              En vous associant au Gala de l’IMT Lille Douai &amp;&nbsp;Inghenia,
              vous profitez d’une opportunité de communication unique au sein de
              la plus grande école d’ingénieurs au Nord de Paris, ciblant un public
              considérable parmi les actuels et futurs décideurs de l’industrie.
            </p>
            <div class="member">
              <div>
                <div class="img">
                  <div style="background-image:url({{ asset('img/contact/vincent.png') }})"></div>
                </div>
                <div class="infos" style="color:black;">
                  <h3>Responsable Partenaires</h3>
                  <p>Vincent Viandier</p>
                  <p><a href='&#109;ailto&#58;%&#55;&#54;inc&#37;65&#110;t&#46;&#37;76i&#97;&#37;6&#69;&#37;64&#105;%&#54;&#53;&#114;%4&#48;e%74%7&#53;&#46;&#105;&#109;t%&#50;&#68;&#108;ill&#101;-&#100;o&#117;ai%&#50;&#69;%66r'>
                    &#118;incent&#46;v&#105;&#97;n&#100;&#105;&#101;r&#64;<wbr>&#101;&#116;u&#46;im&#116;&#8209;lille&#8209;d&#111;&#117;a&#105;&#46;fr
                  </a></p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="text-center"><img src="{{ asset('img/logo.png') }}" /></p>
            <p>
              Nous pouvons vous proposer différents types de communication:
              <ul>
                <li>Votre logo sur nos supports de communication : Affiches, Tickets, Mails…</li>
                <li>Une page publicitaire réservée</li>
                <li>Présentation de votre entreprise sur notre site internet, sur Facebook…</li>
              </ul>
              Pour plus de précisions, veuillez contacter M. Vincent Viandier, notre responsable partenaires.
            </p>
          </div>
        </div>
      </div>
    
    <div class="row">
      <h5>Nos Partenaires</h5>
      <hr class="sm">
      <div class="flex">
        <a href="https://www.edf.fr/" class="partner lg" target="_blank">
          <div class="img" style="background-image:url({{ asset('img/partners/edf.png') }})"></div>
          <p>Leader mondial des énergies bas carbone, le groupe EDF rassemble tous les métiers de la production, du commerce et des réseaux d’électricité.
En s’appuyant sur l’expertise de ses équipes, sa R&amp;D et son ingénierie, son expérience d’exploitant industriel et l’accompagnement attentif de ses clients, EDF apporte des solutions compétitives qui concilient développement économique et préservation du climat.</p>
        </a>
        <a href="http://www.sncf.com/" class="partner" target="_blank">
          <div class="img" style="background-image:url({{ asset('img/partners/sncf.png') }})"></div>
        </a>
        <a href="https://www.laplasturgie.fr/" class="partner" target="_blank">
          <div class="img" style="background-image:url({{ asset('img/partners/plasturgie.png') }})"></div>
        </a>
        <a href="https://pumpkin-app.co/" class="partner" target="_blank">
          <div class="img" style="background-image:url({{ asset('img/partners/pumpkin.png') }})"></div>
        </a>
        <a href="http://societegenerale.fr/" class="partner" target="_blank">
          <div class="img" style="background-image:url({{ asset('img/partners/societe_generale.png') }})"></div>
        </a>
      </div>
    </div>
   
  </div>
{% endblock %}
