{% extends "GalaCoreBundle::base.html.twig" %}

{% block content %}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}
  <form action="{{ path('login_check') }}" method="post">
    <label for="username">Login :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" />
    <br />
    <input type="submit" value="Connexion" />
  </form>
{% endblock %}
