{% extends "GalaCoreBundle:Layout:parallax.html.twig" %}

{% block title %}
  {{ 'menu.ticketing'|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
  <div class="slide img cover" style="background-image: url({{ asset('img/ticketing/background.jpg') }})">
    <div class="content">
      <h2>Billetterie</h2>
      <div class="caption">
        <h3>Réserver sa place pour le Grand Jour</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h5>Billetterie</h5>
      <hr class="sm">
      {% if not open %}
        <h3>La billetterie n’est pas encore ouverte, nous sommes en cours de préparation.</h3>
        <h3>Merci de votre compréhension.</h3>
      {% else %}
        <h3>Le tirage photo est desormais disponible !</h3>
        <p class="text-center">Vous pouvez dès à présent tirer vos photos sur Pumpkin en vous rendant sur le lien suivant:</p>
        <p class="text-center">Si vous êtes nouveau sur Pumpkin, utilisez le CODE PROMO : <strong>GALA2018</strong>, lors de votre inscription et vous bénéficierez de 1€ OFFERT!</p>
        <a href="http://event.pumpkin-app.com/pay/photoimtlilledouai" target="_blank"
          class="img cover white text-center"
          style="background-image:url({{ asset('img/ticketing/photo.jpg') }}); padding: 40px 10px;">
          <h3>Billetterie Tirage Photo</h3>
          <p>Imprimez vos photos et faites vous livrer gratuitement</p>
        </a>
        <p class="text-center">Pour toute question n'hésitez pas à nous <a href="{{ path('gala_contact') }}" class="underline">contacter</a></p>
      {% endif %}
    </div>
  </div>
{% endblock %}
