{% extends "GalaCoreBundle::base.html.twig" %}

{% block body %}
{{ include('GalaCoreBundle::menu.html.twig') }}
<div class="parallax">
  {% block content %}{% endblock %}
  {{ include("GalaCoreBundle::footer.html.twig") }}
</div>
<a href="#" id="toTop">⇧</a>
{% endblock %}

{% block javascripts %}
<script>
  const mainnav = document.getElementsByClassName("main-menu")[0];
  mainnav.classList.add("on-top");
  window.onscroll = function (e) {
    if (window.scrollY === 0) {
      mainnav.classList.add("on-top");
    } else {
      mainnav.classList.remove("on-top");
    }
  }
</script>
{% endblock %}
