{% extends "GalaCoreBundle:Layout:parallax.html.twig" %}

{% block title %}
  {{ 'menu.contact'|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
  <div class="slide img cover" style="background-image: url({{ asset('img/contact/background.jpg') }})">
    <div class="content">
        <h2>Contactez-nous</h2>
        <div class="caption">
          <h3>Nous sommes là pour vous répondre</h3>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <h5>Contactez-nous maintenant</h5>
      <hr class="sm">
      <h3>Nous sommes là pour répondre à toutes vos questions</h3>
      <div class="flex space-around">
        <div class="contact-link">
          <a href="https://www.facebook.com/gala.imtlilledouai.inghenia/" target="_blank"><img src="{{ asset('img/icon/fb.svg') }}" /><br />
            Facebook Page</a>
        </div>
        <div class="contact-link">
            <a href="&#109;ailto&#58;gal%&#54;&#49;%&#52;0et%7&#53;&#46;im%74%2Dl%&#54;9lle-do%7&#53;a&#105;&#46;f%72" target="_blank"><img src="{{ asset('img/icon/mail.svg') }}" /><br />
              Envoyer un email à<br />
              gala&#64;e&#116;u&#46;imt&#45;&#108;il&#108;e-do&#117;a&#105;&#46;fr</a>
        </div>
      </div>
    </div>
    <hr class="lg">
    <div class="row" style="background-color: #132030;">
      <h5>Notre équipe</h5>
      <hr class="sm">
      <div class="flex">
        <div class="member">
          <div>
            <div class="img">
              <div style="background-image:url({{ asset('img/contact/gael.png') }})"></div>
            </div>
            <div class="infos">
              <h3>Président</h3>
              <p>Gaël Le Ruz</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="member">
          <div>
            <div class="img">
              <div style="background-image:url({{ asset('img/contact/ghislain.png') }})"></div>
            </div>
            <div class="infos">
              <h3>Président adjoint</h3>
              <h3>Pôle Lille</h3>
              <p>Ghislain Casier</p>
            </div>
          </div>
        </div>
        <div class="member">
          <div>
            <div class="img">
              <div style="background-image:url({{ asset('img/contact/guillaume.png') }})"></div>
            </div>
            <div class="infos">
              <h3>Président adjoint</h3>
              <h3>Pôle Inghenia</h3>
              <p>Guillaume Driss</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
          <div class="member">
            <div>
              <div class="img">
                <div style="background-image:url({{ asset('img/contact/simon.png') }})"></div>
              </div>
              <div class="infos">
                <h3>Vice Président</h3>
                <p>Simon Martin</p>
              </div>
            </div>
          </div>
          <div class="member">
            <div>
              <div class="img">
                <div style="background-image:url({{ asset('img/contact/judith.png') }})"></div>
              </div>
              <div class="infos">
                <h3>Vice Présidente</h3>
                <p>Judith Devaux</p>
              </div>
            </div>
          </div>
      </div>
      <div class="flex">
          <div class="member">
            <div>
              <div class="img">
                <div style="background-image:url({{ asset('img/contact/cecile.png') }})"></div>
              </div>
              <div class="infos">
                <h3>Responsable Communication</h3>
                <p>Cécile Yang</p>
              </div>
            </div>
          </div>
          <div class="member">
            <div>
              <div class="img">
                <div style="background-image:url({{ asset('img/contact/vincent.png') }})"></div>
              </div>
              <div class="infos">
                <h3>Responsable Partenaires</h3>
                <p>Vincent Viandier</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
